{% extends "home/base.html" %}
{% block content %}

{% for Post in Posts%}

<article class="media content-section">
    <img class="rounded-circle account-img" src="{{ Post.author.profile.image.url }}">

    <div class="media-body">
        <div class="article-metadata">
            <a class="mr-2" href="#">{{ Post.author }}</a>
        </div>
        <h2><a class="article-title" href="{% url 'post detail' Post.id %}">{{ Post.title }}</a></h2>
        <h6><a class="article-title" href="#">{{ Post.content|slice:":150" }}</a></h6>
        <p class="article-content">{{ Post.date_post |date:"F d,Y" }}</p>
    </div>
</article>


{% endfor %}
{% endblock %}