{% extends "home/base.html" %}
{% block content %}

{% for blog in blog_post%}

<article class="media content-section">
    <div class="media-body">
        <div class="article-metadata">
            <a class="mr-2" href="#">{{ blog.title }}</a>
            <small class="text-muted">{{ blog.content }}</small>
        </div>
        <h2><a class="article-title" href="#">{{ blog.author }}</a></h2>
        <p class="article-content">{{ blog.post_create_data }}</p>
    </div>
</article>


{% endfor %}
{% endblock %}